## Problem Statement - Normal Distribution

The mean salaries of Data Scientists working in Chennai, India is calculated to be 7,00,000 INR with a standard deviation of 90,000 INR. The random variable salary of Data Scientists follows a normal distribution.

  - What is the probability that a Data Scientist in Chennai has a salary less than 4,00,000 INR?
  - What is the probability that a Data Scientist in Chennai has a salary between 6,00,000 & 9,00,000 INR?
  - What is the probability that a Data Scientist in Chennai has a salary more than 10,00,000 INR?

In [1]:
import scipy.stats as stats

In [2]:
# All calculations are in Lakhs
mean = 7
std = 0.9
# z=(x-mean)/std

In [3]:
# Q-1 salary less than 4,00,000 INR
z4 = (4-mean)/std
z4

-3.333333333333333

In [4]:
stats.norm.cdf(z4)

0.0004290603331968372

In [5]:
# Q-2 salary between 6,00,000 & 9,00,000 INR
z6= (6-mean)/std
z9= (9-mean)/std

In [6]:
stats.norm.cdf(z9) - stats.norm.cdf(z6)

0.8536055914064735

In [7]:
# Q-3 salary more than 10,00,000 INR
z10 = (10-mean)/std
z10

3.333333333333333

In [8]:
1 - stats.norm.cdf(z10)

0.0004290603331967846